.message_body {
    margin: 10px auto;
    padding: 10px;
    position: relative;
    top: -80px
}

.message_text_color {
    color: #674b40;
}

.message_image {
    width: 100%;
}

.message_title {
    padding: 15px 10px;
    font-size: 25px;
    color: #6A4A3C;
    text-shadow: rgba(255, 255, 255, 0.85) 0px 1px 0px;
}
