<!--header-->
<header class="header">
    <div class="bar"></div>
    <nav>
        <ul class="header_menu">
            <li class="header_menu_item"><a href="../index">首页</a></li>
            <li class="header_menu_item"><a href="../archive">归档</a></li>
            <li class="header_menu_item"><a href="../friend">邻居</a></li>
            <li class="header_menu_item"><a href="../message">留言</a></li>
            <li class="header_menu_item"><a href="../about">关于</a></li>
        </ul>
    </nav>
</header>