{% extends 'base.html' %}
{% load staticfiles %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/message.css' %}"/>
{% endblock %}


{% block title %}-Message{% endblock %}
{% block content %}
    <article class="message_body content_div box">
        <header>
            <img src="{% static 'img/message.jpg' %}" class="message_image">

            <h1 class="message_title message_text_color bottom_border_line">留言</h1>
        </header>
        <div class="message_list"></div>
    </article>
{% endblock %}